<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Parlamento de Galicia</title>
  <meta name="description" content="Buscador de palabras das lexislaturas do parlamento de galicia">
  <meta name="author" content="Jose Juan Elosua <@jjelosua>">
  <meta name="author" content="Diego Pino García <@diepg>">

  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>

    <!-- Top menu -->
    <div>
        <div style="float: left; margin-left: 4px">
            <h1>Parlamento de Galicia</h1>
            <!-- <span id="book-title"></span> -->
            <p style="font-size: 14px">Palabras mais pronunciadas nos diarios de sesións</p>
            <select style="float: left" id="text-select">
                <option value="4_lexislatura">4º lexislatura</option>
            </select>

            <div style="float: right">
                <input id="word" type="text" size="32" style="padding: 3px" placeholder="Engadir palabra"/>
            </div>
        </div>
    </div>

    <div style="clear: both"></div>

    <!-- Bubble chart -->
    <div id="bubble-container">

        <div id="main" role="main">
            <div id="vis"></div>
            <div id="status"></div>
        </div>

    </div> 

    <!-- Word entries -->
    <div id="container"></div>

  <script> 
    window._gaq = [['_setAccount','UA-17355070-1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>

  <script type="text/javascript">
      
      $(document).ready(function() {
          var CR = 13;
  
          $('#word').keydown(function(e) {
              if (e.keyCode == CR) {
                  renderWordEntries(this.value);
                  clearTextbox(this);
              }
  
              function renderWordEntries(word) {
                  var loader = new EntryLoader($('#container'));
                  loader.renderWordEntries(word);
              }
  
              function clearTextbox(textbox) {
                  textbox.value = "";
              }
          });
      });
  
  </script>


  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>
