<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Parlamento de Galicia</title>
  <meta name="description" content="Buscador de palabras das lexislaturas do parlamento de galicia">
  <meta name="author" content="Jose Juan Elosua <@jjelosua>">
  <meta name="author" content="Diego Pino García <@diepg>">

  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>

    <!-- Top menu -->
    <div>
        <div style="float: left; margin-left: 4px">
            <h1>Parlamento de Galicia</h1>
            <!-- <span id="book-title"></span> -->
            <p style="font-size: 14px">Palabras mais pronunciadas nos diarios de sesións</p>
            <select style="float: left" id="text-select">
                <option value="4_lexislatura">4º lexislatura</option>
            </select>

            <div style="float: right">
                <input id="word" type="text" size="32" style="padding: 3px" placeholder="Engadir palabra"/>
            </div>
        </div>
    </div>

    <div style="clear: both"></div>

    <!-- Bubble chart -->
    <div id="g-form-container">
        <form id="g-form">
            <input type="text" name="search" placeholder="Add word or phrase" tabindex="1"><button>+</button>
        </form>
    </div>
    <p><div id="g-chart">
        <svg class="g-nodes" width="970" height="500"></svg>
        <div class="g-labels"></div>
    </div>
    <p><div class="g-body">
        <div class="g-header" id="g-topic">A sampling of excerpts from the speeches</div>
        <div class="g-subheader" style="margin-right:40px;float:right;">Includes speeches through Thursday night.</div>
        <div class="g-subheader">Click on a highlighted word or bubble to show related excerpts.</div>
        <div class="g-columns">
            <div class="g-mentions"></div>
            <div class="g-mentions"></div>
            <div class="g-mentions"></div>
        </div>
        <br clear="all">
    </div>

    <!-- Word entries -->
    <div id="container"></div>

  <script type="text/javascript">
      
      $(document).ready(function() {
          var CR = 13;
            /*
          var loader = new EntryLoader($('#container'));
          var chart = new BubbleChart('#vis', loader);
          chart.init();
            */
  
          $('#word').keydown(function(e) {
              if (e.keyCode == CR) {
                var word = this.value;
                getWord(word);
                /*
                chart.findOrAddWord(word);
                renderWordEntries(word);
                clearTextbox(this);
                */
              }
  
              function renderWordEntries(word) {
                loader.renderWordEntries(word);
              }
  
              function clearTextbox(textbox) {
                textbox.value = "";
              }
          });
      });

      function getWord(word) {
        $.get('/word_counts/' + word + '.json', function(data) {
            alert(data.word);
        });
      }

  </script>

  <%= javascript_include_tag 'bubble-chart.js' %>
  
</body>
</html>
