<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <input id="word" type="text" placeholder="Add word"/>
    <div id="container"></div>
</body>

<script type="text/javascript">
    
    $(document).ready(function() {
        var CR = 13;

        $('#word').keydown(function(e) {
            if (e.keyCode == CR) {
                renderWordEntries(this.value);
                clearTextbox(this);
            }

            function renderWordEntries(word) {
                var loader = new EntryLoader($('#container'));
                loader.renderWordEntries(word);
            }

            function clearTextbox(textbox) {
                textbox.value = "";
            }
        });
    });

</script>
</html>
