html {
    margin: 0px 0px;
}

body {
    margin: 0px 100px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-family: "Helvetica" "Arial" "Verdana";
    font-size: 12px;
}

#word {
    padding: 3px;
    size: 32px;
    margin-bottom: 10px;
}

#container {
    width: 800px;
}

div.left {
    border-top: 1px solid #bbb;
    float: left;
    width: 375px;
    padding-top: 3px;
}

div.right {
    border-top: 1px solid #bbb;
    float: right;
    width: 375px;
    padding-top: 3px;
}

div.comment span.date {
    margin-bottom: 2px;
    display: block;
    font-size: 10px;
    color: #bbb;
    text-align: justify;
}

div.comment span.person {
    display: block;
    font-weight: bold;
}

span.highlight {
    background: #ccc;
    padding: 1px 3px;
}
